# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Virtual Environments
venv/
.env

# Testing & Cache
.pytest_cache/
.hypothesis/
.cache/

# Pipeline Artifacts & Rendered Audio
artifacts/
*.wav
*.mp3

# Secret API Keys
.env*
